USE [master]
GO
/****** Object:  Database [ToDo]    Script Date: 24/09/2020 00:38:37 ******/
CREATE DATABASE [ToDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDo', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ToDo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToDo_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ToDo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDo]
GO
/****** Object:  Table [dbo].[EMPRESTIMO]    Script Date: 24/09/2020 00:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESTIMO](
	[CODIGOEMPRESTIMO] [numeric](10, 0) NOT NULL,
	[CODIGOUSUARIO] [numeric](10, 0) NOT NULL,
	[CODIGOLIVRO] [numeric](10, 0) NOT NULL,
	[DATAEMPRESTIMO] [datetime] NOT NULL,
	[DEVOLVIDOEMPRESTIMO] [numeric](1, 0) NULL,
 CONSTRAINT [EMPRESTIMO_PK] PRIMARY KEY CLUSTERED 
(
	[CODIGOEMPRESTIMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTITUICAOENSINO]    Script Date: 24/09/2020 00:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTITUICAOENSINO](
	[CODIGOINSTITUICAOENSINO] [numeric](10, 0) NOT NULL,
	[NOMEINSTITUICAOENSINO] [varchar](100) NOT NULL,
	[ENDERECOINSTITUICAOENSINO] [varchar](100) NOT NULL,
	[CNPJINSTITUICAOENSINO] [varchar](14) NOT NULL,
	[TELEFONEINSTITUICAOENSINO] [varchar](16) NOT NULL,
	[ATIVOINSTITUICAOENSINO] [numeric](1, 0) NULL,
 CONSTRAINT [INSTITUICAOENSINO_PK] PRIMARY KEY CLUSTERED 
(
	[CODIGOINSTITUICAOENSINO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRO]    Script Date: 24/09/2020 00:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRO](
	[CODIGOLIVRO] [numeric](10, 0) NOT NULL,
	[TITULOLIVRO] [varchar](100) NOT NULL,
	[AUTORLIVRO] [varchar](100) NOT NULL,
	[SINOPSELIVRO] [varchar](300) NOT NULL,
	[CAPALIVRO] [varchar](16) NOT NULL,
	[ATIVOLIVRO] [numeric](1, 0) NULL,
 CONSTRAINT [LIVRO_PK] PRIMARY KEY CLUSTERED 
(
	[CODIGOLIVRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 24/09/2020 00:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[CODIGORESERVA] [numeric](10, 0) NOT NULL,
	[CODIGOEMPRESTIMO] [numeric](10, 0) NOT NULL,
	[ATIVORESERVA] [numeric](1, 0) NULL,
 CONSTRAINT [RESERVA_PK] PRIMARY KEY CLUSTERED 
(
	[CODIGORESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 24/09/2020 00:38:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CODIGOUSUARIO] [numeric](10, 0) NOT NULL,
	[CODIGOINSTITUICAOENSINO] [numeric](10, 0) NULL,
	[NOMEUSUARIO] [varchar](100) NOT NULL,
	[ENDERECOUSUARIO] [varchar](100) NULL,
	[CPFUSUARIO] [varchar](14) NOT NULL,
	[TELEFONEUSUARIO] [varchar](16) NULL,
	[EMAILUSUARIO] [varchar](100) NULL,
	[ATIVOUSUARIO] [numeric](1, 0) NULL,
 CONSTRAINT [USUARIO_PK] PRIMARY KEY CLUSTERED 
(
	[CODIGOUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
